<!DOCTYPE html>
<html>
	<head>
		<title>map</title>
		<link type="text/css" href="css/sencha-touch.css" rel="stylesheet" />
		<script type="text/javascript" charset="utf-8">
			ejs = {
				userdata: "<%= userdata %>"
			};
		</script>
		<script type="text/javascript" charset="UTF-8" src="lib/sencha-touch-debug.js"></script>
		<script type="text/javascript" charset="UTF-8" src="lib/BaiduMap.js"></script>
		<script type="text/javascript" charset="UTF-8" src="lib/sea.js" data-main="./main"></script>
	</head>
	<body>
	</body>
</html>